html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: teal;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.title {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* Counter Management */

.counter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcyan;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

.counter-card > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.counter-card button {
  width: 100%;
}

/* Customer View */

.status-btn {
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.customer-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  border: 1px solid black;
  border-radius: 5px;
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
}

.customer-status-container > * {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.green-status {
  background-color: green;
}

.red-status {
  background-color: red;
}

.gray-status {
  background-color: gray;
}

.customer-counter-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.customer-counter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.yellow-card {
  background-color: antiquewhite;
}

.gray-card {
  background-color: lightgray;
}

.customer-counter-header {
  display: flex;
}

.customer-counter-header * {
  margin: 0 0.5em 0 0.5em;
}

.btn {
  background-color: #ffffff;
  color: black;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5em;
  padding: 10px;
  text-decoration: none;
}
